HI
{% if product.title == "The Collection Snowboard: Liquid" %}
  <h1>YES, This is the best snowboard yet</h1>
{% else %}
  <h1>Nope, not the best snowboard</h1>
{% endif %}
  <h1>{{ product.price }}</h1>


{% assign variable_name = "God" %}
{{ variable_name | upcase | remove: "O" }}
