<!doctype html>

<html lang="{{ request.locale.iso_code }}">

  <head>
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
        {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}


    {{ content_for_header }}

  </head>


  <body>
    {% sections 'header-group' %}
    <h1 class="text-5xl text-red-500 font-extrabold">HELLO DEAR</h1>
    {{ content_for_layout }}

  </body>

</html>
